<ActionBar class="action-bar">
    <Label class="action-bar-title" [text]="title"></Label>
    <ActionItem (tap)="onLogOut()" ios.systemIcon="16" ios.position="right" text="Log Out" android.position="popup" ></ActionItem>
</ActionBar>

<TabView #tabView class="tab-view" (selectedIndexChanged)="onSelectedIndexChanged($event)">


    <StackLayout *tabItem="{title: 'Appointments', iconSource: getIconSource('search')}"> 
        <Appointments></Appointments>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Schedules', iconSource: getIconSource('search')}">
        <Schedules></Schedules>
    </StackLayout>


    <StackLayout *tabItem="{title: 'Holidays', iconSource: getIconSource('search')}">
        <Holidays></Holidays>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Profile', iconSource: getIconSource('home')}">
            <Profile></Profile>
    </StackLayout>

</TabView>