.available-dates {
    background-color: #bbcbdb;
}

.label {
    text-align:center;
    font-size: 18;
    padding: 50;
    color: #595959
}

.button {
    height: 50;
    width: 250;
    background-color: rgba(0,0,0,0.7);
    color: white;
    border-radius: 25;
    margin-top: 20;
}

