<navigation:ExamplePage
        xmlns:navigation="navigation/example-page"
        xmlns:lv="nativescript-ui-listview" 
        xmlns="http://www.nativescript.org/tns.xsd">
        <Label text="Schedules" class="care-common-list-header text-uppercase t-14 p-l-15 p-t-30 p-b-7"></Label>
        <StackLayout class="hr-light"></StackLayout>

        <StackLayout>
            <lv:RadListView height="70%" *ngIf="!isLoading" #myListView row="1" 
                            selectionBehavior="Press"
                            [items]="schedulesModel.schedules" 
                            pullToRefresh="true"
                            (pullToRefreshInitiated)="onPullToRefreshInitiated($event)"
                            (itemSelected)="onItemSelected($event)"
                            (itemDeselected)="onitemDeselected($event)" >
                <ng-template tkListItemTemplate let-item="item">
                    <StackLayout orientation="vertical">
                        <GridLayout rows="auto, auto" columns="*, auto" class="p-t-10 p-l-15">
                            <GridLayout rows="auto, auto, auto" columns="auto, auto">
                                <Label row="0" col="0" class="m-y-5" [text]="'Day of the week: '" class="text-left font-weight-bold"></Label>
                                <Label row="0" col="1" class="m-y-5" [text]="item.dayOfWeekName" class="text-left font-weight-bold"></Label>
                                <Label row="1" col="0"  class="m-y-5" text="Start time: " class="text-left text-muted "></Label>
                                <Label row="1" col="1" class="m-y-5" [text]="item.startTime+'h'" class="text-left text-muted"></Label>
                                <Label row="2" col="0"  class="m-y-5" text="End time: " class="text-left text-muted"></Label>
                                <Label row="2" col="1" class="m-y-5" [text]="item.endTime+'h'" class="text-left text-muted"></Label>
                            </GridLayout>
                            <StackLayout *ngIf="index !== schedulesModel.schedules.length - 1" row="1" colSpan="2" class="hr-light"></StackLayout>
                        </GridLayout>
                </StackLayout>
                </ng-template>
            </lv:RadListView>
            <ActivityIndicator  class="activity-indicator" [busy]="isLoading"></ActivityIndicator>
            <StackLayout *ngIf="(schedulesModel && schedulesModel.freeDays.freeDays.size > 0) || selectedSchedule != null" class="float-btn-container">
                <Button [ngClass]="[selectedSchedule != null ? 'float-btn-edit':'float-btn', 'btn', 'btn-success','font-awesome']" [text]="buttonText" (tap)="onActionTap()">
                </Button>
            </StackLayout>
        </StackLayout>
</navigation:ExamplePage>