 <ActionBar class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="onBackButtonTap()">
    </NavigationButton>
    <Label class="action-bar-title" text="Appointment details"></Label>
</ActionBar>

<GridLayout *ngIf="!isLoading" class="page" rows="auto,auto" columns="auto,auto">
    <StackLayout class="layout" row="0" col="0">
        <Label text= "Doctor name: "></Label>
        <Label text= "Treatment name: "></Label>
        <Label text= "Appointment date: "></Label>
        <Label text= "Appontment status: "></Label>
    </StackLayout>
    <StackLayout class="layout" row="0" col="1">
        <Label [text]= "appointment.doctorName"></Label>
        <Label [text]= "appointment.treatmentName"></Label>
        <Label [text]= "appointment.stringDate+'h'"></Label>
        <Label [text]= "appointment.appointmentStatus"></Label>
    </StackLayout>
    <StackLayout *ngIf="appointment.id == 0" row="1" colspan="2">
        <Button class="btn btn-primary" text="Confirm reservation" (tap)="confirmReservation()"></Button>
    </StackLayout>
    <StackLayout *ngIf="appointment.id != 0" row="1" colspan="2">
            <Button class="btn btn-primary" style="text-align: center" text="Contact doctor" (tap)="contactDoctor()"></Button>
    </StackLayout>
</GridLayout>