<Page xmlns="http://schemas.nativescript.org/tns.xsd" xmlns:accordion="nativescript-accordion">
  <GridLayout rows="*,*,2*" columns="*" *ngIf="isLoaded">
    <StackLayout row="0" column = "0">
          <GridLayout columns="*,3* " rows="*">
              <StackLayout  row="0" col="0">
                <Image src="res://icon"></Image>
              </StackLayout>
              <StackLayout class="border" row="0" col="1">
                <Label class="label hospital-name"  [text]="hospital.name" textWrap="true" ></Label>
              </StackLayout>     
           </GridLayout>
     </StackLayout>
    <ScrollView row="1" column = "0" height="100%">
        <StackLayout>
            <Label fontSize="20" [text]="hospital.description" textWrap="true" padding="3"></Label>
       </StackLayout>
    </ScrollView>
    <StackLayout row="2" column = "0">
        <GridLayout columns="*,*" rows="*,*" verticalAlignment="top">
            <StackLayout class="border" row="0" col="0" orientation="vertical">
                <Label class="label" text="Director:" textWrap="true" verticalAlignment="center" margin-top="5"></Label>
                <Label class="label" [text]="hospital.directorName" textWrap="true"  verticalAlignment="center" horizontalAlignment="center" margin="10"></Label>
             </StackLayout>
            <StackLayout class="border" row="1" col="0" orientation="vertical" >
              <Label class="label" text="Address:" textWrap="true" verticalAlignment="center" margin-top="5"></Label>
              <Label class="label" [text]="hospital.address" textWrap="true" verticalAlignment="center" margin="10"></Label>
            </StackLayout>     
            <StackLayout row="0" col="1" rowspan="2">
                  <accordion:Accordion  [items]="items" allowMultiple="false" [selectedIndexes]="selectedIndexes">
                      <ng-template let-i="index" let-item="item" acTemplateKey="title">
                        <GridLayout backgroundColor="lightblue">
                          <Label class="label" height="100%" [text]="item.title"></Label>
                        </GridLayout>
                      </ng-template>
                  
                      <ng-template let-i="index" let-item="item" acTemplateKey="content">
                        <StackLayout>
                            <MapView height="250" #mapView [latitude]="hospital.latitude" [longitude]="hospital.longitude"
                            [zoom]="zoom" [minZoom]="minZoom" [maxZoom]="maxZoom" [bearing]="bearing"
                            [tilt]="tilt" (mapReady)="onMapReady($event)"
                            (coordinateTapped)="onCoordinateTapped($event)">
                      </MapView>
                        </StackLayout>
                      </ng-template>
                    </accordion:Accordion>
             </StackLayout>
           </GridLayout>
      </StackLayout>
    </GridLayout>
</Page>